---
title: "Berlin Rationalist Community"
---

.hero
  .container
    = image_tag "logo.svg", data: {svg_fallback: "/assets/images/logo.png"}
    %h1 The Berlin Rationalist Community
    %p Better today than we were yesterday, better tomorrow than we are today.

.container
  %section.section-intro
    .section-title
      %h3 Welcome!
    %p This is a portal into the Berlin rationalist community.
    %p
      Most coordination and discussion happens on the
      = link_to "http://groups.google.com/group/lw-berlin" do
        lw-berlin mailing list.
    %p
      Also check
      = link_to "http://lesswrong.com" do
        lesswrong.com.


  %section#start.section-kits
    .section-title
      %h3 Community Events
    %p.intro You are invited to join us at events described below.

    %ul.kits
      %li
        = image_tag "middleman.svg", data: {svg_fallback: "/assets/images/middleman.png"}
        %h3 Berlin Hub
        %p
          Our larger meetups are a great opportunity for meeting everyone.
          They also provide room for presentations from the various projects and workgroups.
        %p
          The next one happens on Friday September 18th, 18:00 at hub:raum.
      %li
        = image_tag "jekyll.svg", data: {svg_fallback: "/assets/images/jekyll.png"}
        %h3 Rationality Dojo
        %p
          In the weekly dojo we focus on applying and practicing rationality.
          It is a structured two hour meeting combining workshop, group exercises and individual practice.
        %p
          If you are interested in participating,
          = link_to "mailto:mail@ckamm.de" do
            contact Christian.
      %li
        = image_tag "middleman.svg", data: {svg_fallback: "/assets/images/middleman.png"}
        %h3 EA Meetups
        %p
          The bi-weekly meetups of our local effective altruists at the VEBU offices
          often host lightning talks and serve as an entry point for EA-related projects.
        %p
          Please check
          = link_to "http://effectivealtruismhub.com/groups/effective-altruism-berlin" do
            the EA Hub
          for information on upcoming events.
      %li
        = image_tag "gulp.svg", data: {svg_fallback: "/assets/images/gulp.png"}
        %h3 Lounge and Soup
        %p
          These are irregular social meetups that feature a relaxed atmosphere and soup
          and are great for longer conversations and discussion in small groups.
        %p
          They are organized through
          = link_to "http://groups.google.com/group/lw-berlin" do
            the mailing list.

  %section
    .section-title
      %h3 European Community Weekend
    %p
      Berlin hosts the yearly three-day gathering of the European rationality community.
      The weekend is an extremely fun blend of conference, networking event and family gathering.
    %p We'll likely organize the next one summer 2016.

/   %section.section-kits
/     .section-title
/       %h3 Related Groups
/     %p.intro These groups are loosely associated with the Berlin LW sphere.
/
/     %ul.kits
/       %li
/         %h3 Meditation
/
/       %li
/         %h3 Cryonics
